<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h3>Configuraciones del sitio web</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h5>Datos indispensables de sitio web</h5>
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <input class="form-control" type="email" placeholder="Ingrese un titulo para su sitio web">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <textarea class="form-control text-area" rows="5" placeholder="Descripcion"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pl-0">
                            <input class="form-control" type="text" placeholder="Palabras clave">
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0">
                            <button class="btn btn-light btn-anadir">Añadir</button>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <p>Palabra clave 1, palabra clave 2, palabra clave 3</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="contenido">
                                            <h5 class="nombre-parafo">Favico</h5>
                                            <div class="boton-pagina">
                                                <button class="btn btn-primary btn-sm btn-subir">Subir</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="contenido">
                                            <h5 class="nombre-parafo">Logotipo del sitio web</h5>
                                            <div class="boton-pagina">
                                                <button class="btn btn-primary btn-sm btn-subir">Subir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 contrasena-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                        <h5>Añadir:</h5>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                        <div class="btn-group btn-group-toggle tipo-usuario" data-toggle="buttons">
                            <label class="btn btn-secondary btn-sm active col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                              <input type="radio" value="1"> CSS
                            </label>
                            <label class="btn btn-secondary btn-sm col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                              <input type="radio" value="2"> Javascript
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <strong>Añadir encabezado</strong>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pl-0">
                        <input class="form-control" type="text" placeholder="Encabezado">
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0">
                        <button class="btn btn-light btn-anadir">Añadir</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <button class="btn btn-light btn-encabezado">Encabezado1</button>
                        <button class="btn btn-light btn-encabezado">Encabezado2</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <strong>Añadir sub encabezado</strong>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0 pr-0">
                        <select class="form-control">
                            <option value="0">Encabezado1</option>
                            <option value="1">Encabezado2</option>
                        </select>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0 pr-0">
                        <input class="form-control" type="text" placeholder="Sub encabezado">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-0 pr-0">
                        <button class="btn btn-light btn-anadir-sub">Añadir</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-light btn-encabezado" id="dropdownBasic1" ngbDropdownToggle>Encabezado1</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem>Sub encabezado 1</button>
                              <button ngbDropdownItem>Sub encabezado 2</button>
                              <button ngbDropdownItem>Sub encabezado 3</button>
                            </div>
                        </div>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-light btn-encabezado" id="dropdownBasic1" ngbDropdownToggle>Encabezado2</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem>Sub encabezado 1</button>
                              <button ngbDropdownItem>Sub encabezado 2</button>
                              <button ngbDropdownItem>Sub encabezado 3</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <strong>Añadir footer</strong>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pl-0">
                        <input class="form-control" type="text" placeholder="footer de pagina">
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0">
                        <button class="btn btn-light btn-anadir">Añadir</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <button class="btn btn-light btn-encabezado">Footer1</button>
                        <button class="btn btn-light btn-encabezado">Footer2</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <strong>Añadir sub footer</strong>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0 pr-0">
                        <select class="form-control">
                            <option value="0">Footer1</option>
                            <option value="1">Footer2</option>
                        </select>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0 pr-0">
                        <input class="form-control" type="text" placeholder="Sub footer">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 pl-0 pr-0">
                        <button class="btn btn-light btn-anadir-sub">Añadir</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                        <div ngbDropdown class="d-inline-block lista-footer">
                            Footer 1
                            <ul>
                                <li>Sub footer 1</li>
                                <li>Sub footer 2</li>
                                <li>Sub footer 3</li>
                            </ul>
                        </div>
                        <div ngbDropdown class="d-inline-block lista-footer">
                            Footer 2
                            <ul>
                                <li>Sub footer 1</li>
                                <li>Sub footer 2</li>
                                <li>Sub footer 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="row mb-2">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar">
            <button type="button" class="btn btn-outline-primary">Guardar cambios</button>
        </div>
    </div>   
</div>
