<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h3>Administracion de recursos</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <h5 class="nombre-parafo">Imagenes</h5>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <h5 class="nombre-parafo">Videos</h5>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <h5 class="nombre-parafo">Otros</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
            <h5>Mis imagenes</h5>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <button class="btn btn-light">Agregar imagen</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 pl-0 mb-2">
                        <div class="card">
                            <div class="contenido-imagen">
                                <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                <div class="boton_imagen">
                                    <div ngbDropdown container="body">
                                        <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                        <div ngbDropdownMenu>
                                          <button ngbDropdownItem>Actualizar</button>
                                          <button ngbDropdownItem>Eliminar</button>
                                          <div class="dropdown-divider"></div>
                                          <button ngbDropdownItem placement="right" ngbTooltip="Codigo XF15DE4">Detalles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 pl-0 mb-2">
                        <div class="card">
                            <div class="contenido-imagen">
                                <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                <div class="boton_imagen">
                                    <div ngbDropdown container="body">
                                        <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                        <div ngbDropdownMenu>
                                          <button ngbDropdownItem>Actualizar</button>
                                          <button ngbDropdownItem>Eliminar</button>
                                          <div class="dropdown-divider"></div>
                                          <button ngbDropdownItem placement="right" ngbTooltip="Codigo XF15DE4">Detalles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 pl-0 mb-2">
                        <div class="card">
                            <div class="contenido-imagen">
                                <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                <div class="boton_imagen">
                                    <div ngbDropdown container="body">
                                        <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                        <div ngbDropdownMenu>
                                          <button ngbDropdownItem>Actualizar</button>
                                          <button ngbDropdownItem>Eliminar</button>
                                          <div class="dropdown-divider"></div>
                                          <button ngbDropdownItem placement="right" ngbTooltip="Codigo XF15DE4">Detalles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 pl-0 mb-2">
                        <div class="card">
                            <div class="contenido-imagen">
                                <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                <div class="boton_imagen">
                                    <div ngbDropdown container="body">
                                        <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                        <div ngbDropdownMenu>
                                          <button ngbDropdownItem>Actualizar</button>
                                          <button ngbDropdownItem>Eliminar</button>
                                          <div class="dropdown-divider"></div>
                                          <button ngbDropdownItem placement="right" ngbTooltip="Codigo XF15DE4">Detalles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 pl-0 mb-2">
                        <div class="card">
                            <div class="contenido-imagen">
                                <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                <div class="boton_imagen">
                                    <div ngbDropdown container="body">
                                        <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                        <div ngbDropdownMenu>
                                          <button ngbDropdownItem>Actualizar</button>
                                          <button ngbDropdownItem>Eliminar</button>
                                          <div class="dropdown-divider"></div>
                                          <button ngbDropdownItem placement="right" ngbTooltip="Codigo XF15DE4">Detalles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 pl-0 mb-2">
                        <div class="card">
                            <div class="contenido-imagen">
                                <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                <div class="boton_imagen">
                                    <div ngbDropdown container="body">
                                        <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                        <div ngbDropdownMenu>
                                          <button ngbDropdownItem>Actualizar</button>
                                          <button ngbDropdownItem>Eliminar</button>
                                          <div class="dropdown-divider"></div>
                                          <button ngbDropdownItem placement="right" ngbTooltip="Codigo XF15DE4">Detalles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>