<ul class="mt-4 lista">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faBuilding"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar" (click)="mostrarVisualizacionGestion()">
                        <p class="parrafo">
                            Visualizacion y gestion de empresas
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faTasks"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Gestion de planes
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faTools"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Administracion de plantillas o temas
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faMarker"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Editar/crear nuevos usuarios administradores
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
</ul>
