<ul class="mt-4 lista">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faMarker"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Editar Perfil
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faTasks"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Administracion de recursos
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faFileCode"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Administracion de paginas
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faTools"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Configuraciones de sitios
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faProductHunt"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Registro de productos y categorias
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faFolderPlus"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Añadir shortcuts
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
</ul>