<ul class="mt-4 lista">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row" routerLinkActive="active">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faMarker" [routerLink]="['editar-perfil-compania']"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo" [routerLink]="['editar-perfil-compania']">
                            Editar Perfil
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row" routerLinkActive="active">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faTasks" [routerLink]="['administracion-recursos']"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo" [routerLink]="['administracion-recursos']">
                            Administracion de recursos
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row" routerLinkActive="active">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faFileCode" [routerLink]="['administracion-paginas']"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo" [routerLink]="['administracion-paginas']">
                            Administracion de paginas
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row" routerLinkActive="active">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faTools" [routerLink]="['configuracion-sitios']"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo" [routerLink]="['configuracion-sitios']">
                            Configuraciones de sitios
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row" routerLinkActive="active">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faProductHunt" [routerLink]="['registro-productos-categorias']"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo" [routerLink]="['registro-productos-categorias']">
                            Registro de productos y categorias
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row" routerLinkActive="active">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faFolderPlus" [routerLink]="['anadir-shortcuts']"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo" [routerLink]="['anadir-shortcuts']">
                            Añadir shortcuts
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
</ul>