<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h3>Añadir/Editar productos</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h5>Datos del producto</h5>
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <input class="form-control" type="email" placeholder="Nombre del producto">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <textarea class="form-control text-area" rows="5" placeholder="Descripcion"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <input class="form-control" type="text" placeholder="Precio">
                        </div>
                    </div>    
                </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 contrasena-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 mb-2">
                        <button class="btn btn-light">Agregar una pagina</button>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 div-imagenes">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0 mt-2">
                                    <div class="card">
                                        <div class="contenido-imagen">
                                            <img class="card-img-top app-img imagen" src="../assets/img/ps5.jpg" alt="Imagen">
                                            <div class="boton_imagen">
                                                <button class="btn btn-primary boton-cerrar">X</button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>
    <div class="row mb-2">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar">
            <button type="button" class="btn btn-outline-primary">Guardar Producto</button>
        </div>
    </div>   
</div>

