<div>
    <div>
        <img src="../img/logo_sin_fondo.png" alt=""><br>
        <hr><br>
        <h2>Inicio de sesión</h2>
        <input type="text" placeholder="Correo electronico"><br>
        <input type="text" placeholder="Contraseña"><br>
        <input type="checkbox">Recuerdame <br>
        <button>Iniciar sesión</button><br>
        <h5>¿Ha olvidado su contraseña?</h5>
        <hr>
        <h3>¿Aun no posee una cuenta?</h3>
        <button>Crear una gratis ahora</button>
        <hr>
        © Todos los derechos reservados Easy Creative 2020.
    </div>
</div>
