<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <a class="logo-ancla" (click)="paginaInicio()">
                <img src="../assets/img/logo_sin_fondo.png" alt="Logo de empresa" class="logo">
            </a>
            <hr><br>
            <section class="elementos-inicio">
                <h2 class="titulo-h2">Registrarse</h2>
                <form [formGroup]="formularioRegistro" (ngSubmit)="valorForm()">
                    <input [ngClass]="{'input-error':nombre.invalid && (nombre.dirty || nombre.touched)}" formControlName="nombre" class="form-control cajas-texto" type="text" placeholder="Nombre">
                    <input [ngClass]="{'input-error':apellido.invalid && (apellido.dirty || apellido.touched)}" formControlName="apellido" class="form-control cajas-texto" type="text" placeholder="Apellido">
                    <input [ngClass]="{'input-error':email.invalid && (email.dirty || email.touched)}" formControlName="email" class="form-control cajas-texto" type="email" placeholder="Correo electronico">

                    <form [formGroup]="formContrasenas">
                        <input formControlName="contrasena" class="form-control cajas-texto" type="password" placeholder="Contraseña" [formGroup]="formContrasenas">
                        <input formControlName="contrasena2" class="form-control cajas-texto" type="password" placeholder="Confirmar Contraseña" [formGroup]="formContrasenas">
                        <div class="alert alert-danger" *ngIf="verificacionContrasenas == true">Las contrasenas no coiciden</div>
                    </form>

                    <input [ngClass]="{'input-error':telefono.invalid && (telefono.dirty || telefono.touched)}" formControlName="telefono" class="form-control cajas-texto" type="text" placeholder="Telefono"><br>
                    Seleccione un pais:
                    <select [ngClass]="{'input-error':pais.invalid && (pais.dirty || pais.touched)}" formControlName="pais" class="form-control cajas-texto">
                        <option *ngFor="let pais of paises" value="{{pais}}">{{pais}}</option>
                    </select><br>
                    Tipo de usuario a registrar:
                    <br><br>
                    <div class="btn-group btn-group-toggle tipo-usuario" data-toggle="buttons">
                        <label [ngClass]="{'active':tipoUsuarioSelec == 'individual', 'no-active':tipoUsuarioSelec == 'empresarial'}" class="btn btn-secondary btn-sm  col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                        <input type="radio" value="1" (click)="tipoUsuario('individual')"> Individual
                        </label>
                        <label [ngClass]="{'active':tipoUsuarioSelec == 'empresarial', 'no-active':tipoUsuarioSelec == 'individual'}" class="btn btn-secondary btn-sm col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                        <input type="radio" value="2" (click)="tipoUsuario('empresarial')"> Empresarial
                        </label>
                    </div>
                    <br>
                    <section [ngClass]="{'visible':tipoUsuarioSelec == 'empresarial', 'invisible':tipoUsuarioSelec == 'individual'}">
                        <input formControlName="nombreEmpresa" class="form-control" type="text" placeholder="Nombre de la empresa">
                    </section><br>
                    <section class="chk-terminos">
                        <input type="checkbox" formControlName="aceptarTerminos"> Al hacer clic en Registrarse, acepta los terminos y condiciones de uso de Easy Creative.
                        <p>
                            Para obtener mas informacion sobre como Easy Creative utiliza, comparte y protege sus datos personales, consulte la <a href="#">politica de privacidad</a> de Easy Creative.
                        </p>
                    </section>
                    <section class="seccion-registrarse">
                        <div class="alert alert-danger" *ngIf="verificacionCampos == true">Porfavor, Rellene los campos requeridos</div>
                        <div class="alert alert-danger" *ngIf="verificacionTerminos == true">Porfavor, Acepte los terminos y condiciones de uso</div>
                        <button type="submit" class="btn btn-primary btn-crear">Registrarse</button><br><br>
                        <strong>¿Ya tienes una cuenta? </strong><a [routerLink]="['/inicio-sesion']">Iniciar sesión</a>
                    </section>
                </form> 
                <br><br>
            </section><br><br><br>
            <hr>
            <section class="copyright">
                © Todos los derechos reservados Easy Creative 2020.
            </section>
        </div>
    </div>
</div>
