<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <a href="#">
                <img src="../assets/img/logo_sin_fondo.png" alt="Logo de empresa" class="logo">
            </a>
            <hr><br>
            <section class="elementos-inicio">
                <h2 class="titulo-h2">Registrarse</h2> 
                <input class="form-control cajas-texto" type="text" placeholder="Nombre">
                <input class="form-control cajas-texto" type="text" placeholder="Apellido">
                <input class="form-control cajas-texto" type="email" placeholder="Correo electronico">
                <input class="form-control cajas-texto" type="password" placeholder="Contraseña">
                <input class="form-control cajas-texto" type="password" placeholder="Confirmar Contraseña">
                <input class="form-control cajas-texto" type="text" placeholder="Telefono">
                <select class="form-control cajas-texto">
                    <option value="1">Seleccione un pais</option>
                    <option value="2">Honduras</option>
                    <option value="3">Guatemala</option>
                    <option value="4">Estados Unidos</option>
                </select><br>
                Tipo de usuario a registrar:
                <br><br>
                <div class="btn-group btn-group-toggle tipo-usuario" data-toggle="buttons">
                    <label [ngClass]="{'active':tipoUsuarioSelec == 'individual', 'no-active':tipoUsuarioSelec == 'empresarial'}" class="btn btn-secondary btn-sm  col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                      <input type="radio" value="1" (click)="tipoUsuario('individual')"> Individual
                    </label>
                    <label [ngClass]="{'active':tipoUsuarioSelec == 'empresarial', 'no-active':tipoUsuarioSelec == 'individual'}" class="btn btn-secondary btn-sm col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                      <input type="radio" value="2" (click)="tipoUsuario('empresarial')"> Empresarial
                    </label>
                </div>
                <br>
                <section [ngClass]="{'visible':tipoUsuarioSelec == 'empresarial', 'invisible':tipoUsuarioSelec == 'individual'}">
                    <input class="form-control" type="text" placeholder="Nombre de la empresa">
                </section><br>
                <section class="chk-terminos">
                    <input type="checkbox"> Al hacer clic en Registrarse, acepta los terminos y condiciones de uso de Easy Creative.
                    <p>
                        Para obtener mas informacion sobre como Easy Creative utiliza, comparte y protege sus datos personales, consulte la <a href="#">politica de privacidad</a> de Easy Creative.
                    </p>
                </section>
                <section class="seccion-registrarse">
                    <button class="btn btn-primary btn-crear">Registrarse</button><br><br>
                    <strong>¿Ya tienes una cuenta? </strong><a href="#">Iniciar sesión</a>
                </section>
                <br><br>
            </section>
            <hr>
            <section class="copyright">
                © Todos los derechos reservados Easy Creative 2020.
            </section>
        </div>
    </div>
</div>
