<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h3>Paginas disponibles para añadir shortcuts</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <div class="posicion-anadir">
                                <button class="btn btn-primary btn-sm boton-anadir" type="button">Añadir shortcuts</button>
                            </div>
                            <div class="pagina-principal">
                                <strong>Principal</strong>
                            </div>
                            <h5 class="nombre-parafo">Pagina titulo 1</h5>
                            <div class="boton-pagina">
                                <div ngbDropdown container="body">
                                    <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                    <div ngbDropdownMenu>
                                      <p class="opciones-parrafos-pagina">Descripcion: <br> Lorem ipsum dolor sit amet.</p>
                                      <div class="dropdown-divider"></div>
                                      <p class="opciones-parrafos-pagina">ID url:www.pagina.com/url</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <div class="posicion-anadir">
                                <button class="btn btn-primary btn-sm boton-anadir" type="button">Añadir shortcuts</button>
                            </div>
                            <div class="pagina-principal">
                                
                            </div>
                            <h5 class="nombre-parafo">Pagina titulo 2</h5>
                            <div class="boton-pagina">
                                <div ngbDropdown container="body">
                                    <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                    <div ngbDropdownMenu>
                                      <p class="opciones-parrafos-pagina">Descripcion: <br> Lorem ipsum dolor sit amet.</p>
                                      <div class="dropdown-divider"></div>
                                      <p class="opciones-parrafos-pagina">ID url:www.pagina.com/url</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <div class="posicion-anadir">
                                <button class="btn btn-primary btn-sm boton-anadir" type="button">Añadir shortcuts</button>
                            </div>
                            <div class="pagina-principal">
                                
                            </div>
                            <h5 class="nombre-parafo">Pagina titulo 3</h5>
                            <div class="boton-pagina">
                                <div ngbDropdown container="body">
                                    <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                    <div ngbDropdownMenu>
                                      <p class="opciones-parrafos-pagina">Descripcion: <br> Lorem ipsum dolor sit amet.</p>
                                      <div class="dropdown-divider"></div>
                                      <p class="opciones-parrafos-pagina">ID url:www.pagina.com/url</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <h5>Shortcuts disponibles</h5>
            <div class="container-fluid shortcuts-disponibles">
                <div class="row">   
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <button class="btn btn-primary botones-shortcuts">Login</button>
                        <button class="btn btn-primary botones-shortcuts">Galeria de imagenes</button>
                        <button class="btn btn-primary botones-shortcuts">Galeria de productos</button>
                        <button class="btn btn-primary botones-shortcuts">Imagen</button>
                        <button class="btn btn-primary botones-shortcuts">Enlace de descargar de archivos</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <h5>Arrastrar shortcuts</h5>
            <div class="container-fluid shortcuts-disponibles">
                <div class="row">   
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <img src="../assets/img/imgGrilla.png" alt="grilla">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar">
            <button type="button" class="btn btn-outline-primary">Guardar cambios</button>
        </div>
    </div>      
</div>
