<Form>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3>Metodo de pago</h3>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                    <h5>Datos de metodo de pago</h5>
                </div><br><br>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                    <strong>Metodo de pago</strong><br>
                    <label for="rbt-pago1">
                        <input type="radio" name="rbt-pago" id="rbt-pago1"> Targeta de debito o credito
                    </label>&nbsp;
                    <label for="rbt-pago2">
                        <input type="radio" name="rbt-pago" id="rbt-pago2"> paypal
                    </label>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="container-fluid"> 
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Numero de targeta">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 pl-0">
                                <input class="form-control" type="text" placeholder="Nombre del propietario">
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 pl-0">
                                <input class="form-control" type="text" placeholder="CVS">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <strong>Fecha de vencimiento</strong><br>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pl-0">
                                <select class="form-control">
                                    <option value="0">Mes</option>
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                </select>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0">
                                <select class="form-control">
                                    <option value="0">Año</option>
                                    <option value="1">1990</option>
                                    <option value="2">1991</option>
                                    <option value="3">1992</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 facturacion-top">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <strong>Datos de facturacion</strong><br>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <input class="form-control" type="text" placeholder="Direccion">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <input class="form-control" type="text" placeholder="Ciudad">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pl-0">
                            <input class="form-control" type="text" placeholder="Departamento o estado">
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0">
                            <input class="form-control" type="text" placeholder="Codigo Postal">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <input class="form-control" type="text" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <select class="form-control">
                                <option value="0">Pais</option>
                                <option value="1">Honduras</option>
                                <option value="2">Guatemala</option>
                                <option value="3">Estados Unidos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row mb-2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar">
                <button type="button" class="btn btn-outline-primary">Añadir</button>
            </div>
        </div>
    </div>
</Form>