<div class="container-fluid divFooter">
    <div class="row parteArriba">
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <h4 class="footerTitulo">Sobre nosotros</h4>
            <p>
                Somos una empresa comprometida con la satisfaccion de nuestros clientes asi como la seguridad de estos mismo, es por eso que cada dia mejoramos en brindar mejores herramientas en el diseno y creacion de sitios web.
            </p> 
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <h4 class="footerTitulo">Contactanos</h4>
            <p>
                Puedes visitarnos en City mall tegucigal, mall las cascadas junto a Elektra.
            </p>
            <p>
                O puedes llamarnos a 22345896, 22547896 horarios de 8:00am a 5:00pm de lunes a sabados.
            </p>
            <p>
                Correos de contacto: customerservice@easycreative.com
            </p> 
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <h4 class="footerTitulo">Suscribirse</h4>
            <p>
                Puedes confiar en nosotros, solo enviamos ofertas no Spam
            </p>
            <form class="navbar-form">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Correo electronico" type="email">
                    <div style="position: absolute; left: -5000px;">
                        <input tabindex="-1" type="text">
                    </div>
                    <div class="input-group-btn">
                        <button class="btn-enviar">
                            <fa-icon [icon]="faArrowRight"></fa-icon>
                        </button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 footer-area">
            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <div class="footer-social d-flex align-items-center">
                    <a href="#">
                        <fa-icon [icon]="faFacebookF"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr class="hrDivisor">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <p style="text-align: center;">© Todos los derechos reservados Easy Creative 2020.</p>
        </div>
    </div>
    <div class="row parteAbajo">
    </div>
</div>
