<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tituloSeccion">
            <h3>Carrito de compras</h3>
        </div>
    </div>
    <hr>
    <div class="row" style="display: none;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <table class="table">
                <thead>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Empresa</th>
                    <th>Envio</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Precio</th>
                </thead>
                <tbody>
                    <tr>
                        <td>5</td>
                        <td>Producto 1</td>
                        <td>Empresa 1</td>
                        <td>Free</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>$99.99</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Sub total</td>
                        <td>$99.99</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Envio</td>
                        <td>$0</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Impuesto (12%)</td>
                        <td>$12</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total a pagar</td>
                        <td>$111.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>
    <div class="row" style="display: none;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <button class="btn btn-outline-primary">Pagar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h4 style="text-align: center;">No tiene productos añadidos aun.</h4>
        </div>
    </div>
</div>


