<!--Esto se va a usar para ocultar el sidebar-->
<ng-sidebar-container> 
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="opened" mode="push">
        <!--Elementos de Usuario-->
        <!--<app-elementos-sidebar-usuario></app-elementos-sidebar-usuario>-->
        <!--Elementos de Empresa-->
        <app-elementos-sidebar-empresa></app-elementos-sidebar-empresa>
    </ng-sidebar>
    <!-- Page content -->
    <div ng-sidebar-content>
        
        <!--empresa-->
        <router-outlet></router-outlet>
        
    </div>
</ng-sidebar-container>

  