<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
            <h3>Administracion de paginas disponibles</h3>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
            <button class="btn btn-light">Agregar una pagina</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <div class="pagina-principal">
                                <strong>Principal</strong>
                            </div>
                            <h5 class="nombre-parafo">Pagina titulo 1</h5>
                            <div class="boton-pagina">
                                <div ngbDropdown container="body">
                                    <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                    <div ngbDropdownMenu>
                                      <p class="opciones-parrafos-pagina">Descripcion: <br> Lorem ipsum dolor sit amet.</p>
                                      <div class="dropdown-divider"></div>
                                      <p class="opciones-parrafos-pagina">ID url:www.pagina.com/url</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <div class="pagina-principal">
                                
                            </div>
                            <h5 class="nombre-parafo">Pagina titulo 2</h5>
                            <div class="boton-pagina">
                                <div ngbDropdown container="body">
                                    <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                    <div ngbDropdownMenu>
                                      <p class="opciones-parrafos-pagina">Descripcion: <br> Lorem ipsum dolor sit amet.</p>
                                      <div class="dropdown-divider"></div>
                                      <p class="opciones-parrafos-pagina">ID url:www.pagina.com/url</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 mb-2">
                        <div class="contenido">
                            <div class="pagina-principal">
                                
                            </div>
                            <h5 class="nombre-parafo">Pagina titulo 3</h5>
                            <div class="boton-pagina">
                                <div ngbDropdown container="body">
                                    <button class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                    <div ngbDropdownMenu>
                                      <p class="opciones-parrafos-pagina">Descripcion: <br> Lorem ipsum dolor sit amet.</p>
                                      <div class="dropdown-divider"></div>
                                      <p class="opciones-parrafos-pagina">ID url:www.pagina.com/url</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5 col-5">
            <h5>Editar como:</h5>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-7 col-7">
            <div class="btn-group btn-group-toggle tipo-usuario" data-toggle="buttons">
                <label class="btn btn-secondary btn-sm active col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                  <input type="radio" value="1"> Editor HTML
                </label>
                <label class="btn btn-secondary btn-sm col-lg-6 col-md-6 col-sm-6 col-6 rbt-tipo">
                  <input type="radio" value="2"> Contenido estatico
                </label>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-0 col-0">
            
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pl-0">
                        <strong>Añadir encabezado</strong><br>
                        <label for="rbt-opcion1">
                            <input type="radio" name="rbt-opcion-encabezado" id="rbt-opcion1"> Si
                        </label>&nbsp;&nbsp;
                        <label for="rbt-opcion2">
                            <input type="radio" name="rbt-opcion-encabezado" id="rbt-opcion2"> No
                        </label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 pl-0">
                        <strong>Añadir footer</strong><br>
                        <label for="rbt-opcion3">
                            <input type="radio" name="rbt-opcion-footer" id="rbt-opcion3"> Si
                        </label>&nbsp;&nbsp;
                        <label for="rbt-opcion4">
                            <input type="radio" name="rbt-opcion-footer" id="rbt-opcion4"> No
                        </label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-0 col-0 pl-0">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>