<ul class="mt-4 lista">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faMarker"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Editar perfil
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faCreditCard"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Metodo de pago
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
    <li class="efecto">
        <a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <fa-icon [icon]="faShoppingBag"></fa-icon>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 texto-sidebar">
                        <p class="parrafo">
                            Historial de compras
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <hr class="margenHr">
</ul>

