<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <a class="logo-ancla" (click)="paginaInicio()">
                <img src="../assets/img/logo_sin_fondo.png" alt="Logo de empresa" class="logo">
            </a>
            <hr><br>
            <section class="elementos-inicio">
                <h2 class="titulo-h2">Inicio de sesión</h2> 
                <input class="form-control cajas-texto" type="text" placeholder="Correo electronico">
                <input class="form-control cajas-texto" type="text" placeholder="Contraseña">
                <section class="chk-recuerdame">
                    <input type="checkbox"> Recuerdame
                </section>
                 <br>
                <div>
                    <button class="btn btn-primary btn-iniciar">Iniciar sesión</button>
                </div>
                <br><br><br>
                <h6><a href="#">¿Ha olvidado su contraseña?</a></h6>
                <hr>
                <section class="seccion-crear-cuenta">
                    <h4>¿Aun no posee una cuenta?</h4>
                    <button class="btn btn-primary btn-crear">Crear una gratis ahora</button>
                </section>
            </section>
            <hr>
            <section class="copyright">
                © Todos los derechos reservados Easy Creative 2020.
            </section>
        </div>
    </div>
</div>
