<!--Esto se va a usar para ocultar el sidebar-->
<ng-sidebar-container> 
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="opened" mode="push">
        <!--Elementos de Administrador-->
        <app-elementos-sidebar></app-elementos-sidebar>
        <!--Elementos de Usuario-->
        <!--<app-elementos-sidebar-usuario></app-elementos-sidebar-usuario>-->
        <!--Elementos de Empresa-->
        <!--<app-elementos-sidebar-empresa></app-elementos-sidebar-empresa>-->
    </ng-sidebar>
    <!-- Page content -->
    <div ng-sidebar-content>
        <router-outlet></router-outlet>
        <!--administrador-->
        <!--<app-vizualizacion-gestion-empresas></app-vizualizacion-gestion-empresas>-->
        <!--<app-gestion-planes></app-gestion-planes>-->
        <!--<app-plantilla-temas></app-plantilla-temas>-->
        <!--<app-nuevos-administradores></app-nuevos-administradores>-->

        <!--usuario-->
        <!--<app-editar-perfil></app-editar-perfil>--> <!--perfil usuario-->
        <!--<app-metodo-pago></app-metodo-pago>-->
        <!--<app-historial-compras></app-historial-compras>-->
        <!--<app-carrito-compras></app-carrito-compras>-->

         <!--empresa-->
        <!--<app-editar-perfil-empresa></app-editar-perfil-empresa>--> <!--perfil empresa-->
        <!--<app-administracion-recursos></app-administracion-recursos>-->
        <!--<app-administracion-paginas></app-administracion-paginas>-->
        <!--<app-anadir-shorcuts></app-anadir-shorcuts>-->
        <!--<app-configuracion-sitios></app-configuracion-sitios>-->
        <!--<app-registro-producto-categoria></app-registro-producto-categoria>-->
        <!--<app-anadir-editar-productos></app-anadir-editar-productos>-->
    </div>
</ng-sidebar-container>

  