<!--Esto se va a usar para ocultar el sidebar-->
<ng-sidebar-container> 
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="opened" mode="push">
        <app-elementos-sidebar></app-elementos-sidebar><!--Elementos de Administrador-->
    </ng-sidebar>
    <!-- Page content -->
    <div ng-sidebar-content>
        <!--<app-vizualizacion-gestion-empresas></app-vizualizacion-gestion-empresas>-->
        <!--<app-gestion-planes></app-gestion-planes>-->
        <!--<app-plantilla-temas></app-plantilla-temas>-->
        <app-nuevos-administradores></app-nuevos-administradores>
    </div>
</ng-sidebar-container>

  