<div class="container">
        <br>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3>Editar perfil</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <h5>Datos personales</h5>
                <form>
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0">
                                <input class="form-control" type="text" placeholder="Nombre">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0">
                                <input class="form-control" type="text" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="email" placeholder="Correo electronico">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="number" placeholder="Telefono">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <select class="form-control">
                                    <option value="0">--Seleccione un pais--</option>
                                    <option value="1">Honduras</option>
                                    <option value="2">Costa Rica</option>
                                    <option value="3">Estados Unidos</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pl-0">
                                <input class="form-control" type="text" placeholder="Estado">
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0">
                                <input class="form-control" type="text" placeholder="Codigo Postal">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Ciudad">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Direccion">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <strong>Genero</strong><br>
                                <label for="rbt-genero1">
                                    <input type="radio" name="rbt-genero" id="rbt-genero1"> Masculino
                                </label>&nbsp;
                                <label for="rbt-genero2">
                                    <input type="radio" name="rbt-genero" id="rbt-genero2"> Femenino
                                </label>
                            </div>
                        </div><br>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar">
                                <button type="button" class="btn btn-outline-primary" disabled>Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 contrasena-top">
                <div class="container-fluid">
                    <form>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Contraseña actual">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Nueva contraseña">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Confirmar nueva contraseña">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar"><br>
                                <button type="button" class="btn btn-outline-primary" disabled>Cambiar contraseña</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>