<div class="container">
        <br>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3>Editar perfil</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <h5>Datos personales</h5>
                <form [formGroup]="formularioUsuario" (ngSubmit)="datosUsuarioForm()">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0">
                                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0">
                                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="email" placeholder="Correo electronico" formControlName="correo">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Telefono" formControlName="telefono">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                Pais:
                                <select class="form-control" formControlName="pais">
                                    <option *ngFor="let pais of paises" value="{{pais}}">{{pais}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 pl-0">
                                <input class="form-control" type="text" placeholder="Estado" formControlName="estado">
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 pl-0">
                                <input class="form-control" type="text" placeholder="Codigo Postal" formControlName="codigoPostal">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Ciudad" formControlName="ciudad">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="text" placeholder="Direccion" formControlName="direccion">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <strong>Genero</strong><br>
                                <label for="rbt-genero1">
                                    <input type="radio" formControlName="genero" id="rbt-genero1" value="Masculino"> Masculino
                                </label>&nbsp;
                                <label for="rbt-genero2">
                                    <input type="radio" formControlName="genero" id="rbt-genero2" value="Femenino"> Femenino
                                </label>
                            </div>
                        </div><br>
                        <div class="row mb-2 alert alert-danger" *ngIf="verificarDatosUsu == true">Porfavor, ingrese todos los datos requeridos</div><br>
                        <div class="row mb-2 alert alert-success" *ngIf="datosExitosos == true">Datos actualizados con exito</div><br>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar">
                                <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 contrasena-top">
                <div class="container-fluid">
                    <form [formGroup]="formularioUsuarioContrasena" (ngSubmit)="datosUsuarioFormContrasena()">
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="password" placeholder="Contraseña actual" formControlName="contrasenaActual">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="password" placeholder="Nueva contraseña" formControlName="nuevaContrasena">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                                <input class="form-control" type="password" placeholder="Confirmar nueva contraseña" formControlName="nuevaContrasena2">
                            </div>
                        </div>
                        <div class="row mb-2 alert alert-danger" *ngIf="vereficicarDatosContrasena == true">Porfavor, ingrese todos los datos requeridos</div>
                        <div class="row mb-2 alert alert-danger" *ngIf="vereficicarContrasenaActual == true">La contraseña actual no es correcta</div>
                        <div class="row mb-2 alert alert-danger" *ngIf="vereficicarContrasena == true">Las contraseñas nuevas ingresadas no coinciden</div>
                        <div class="row mb-2 alert alert-success" *ngIf="contrasenaExito == true">Contraseña cambiada con exito</div>
                        <div class="row mb-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-0 boton-centrar"><br>
                                <button type="submit" class="btn btn-outline-primary">Cambiar contraseña</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>